name: Docker Build Test

on:
  push:
    branches: [ "main" ]

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build the Docker image
        run: docker build -t test-image:latest .
